.pagination {
  margin: 40px 84px;

  &__page-list {
    display: flex;
    justify-content: center;
  }

  &__page-item {
    &--disabled {
      pointer-events: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid $bg-color-controllers;
    border-radius: 4px;
    color: $text-color-secondary;
    background-color: $bg-color-products;

    &--active {
      // background-color: $bg-color-controllers-hov;
      border-color: $accent-color-hov;
      color: $text-color-main;
    }

    &:hover {
      background-color: $accent-color-hov;
      color: $text-color-accent-btn;
    }
  }

  &__button {
    margin-right: 8px;

    &--hide {
      display: none;
    }

    &--controls {
      background-color: $bg-color-main;
      border: none;

      & button {
        border: none;
      }
    }
  }
}
