.searching-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;

  &__query {
    flex-grow: 1 !important;
    padding: 10px !important;
    border-bottom: 1px solid $text-color-secondary !important;
    font-family: Mont, sans-serif !important;

    @include onDesktop {
      width: auto;
    }

    &:focus {
      border-bottom: 1px solid $accent-color-hov;
    }
  }

  &__button {
    flex-shrink: 0;
    border-radius: 4px;
  }
}
