.searching-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &__query {
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid $text-color-secondary;
    text-align: center;

    @include onDesktop {
      width: auto;
      text-align: left;
    }

    &:focus {
      border-bottom: 1px solid $accent-color-hov;
    }
  }
}
