.profile {
  min-width: 60%;
  min-height: 60%;
  background-color: $bg-color-main;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__form-side {
    width: 100%;
  }

  &__avatar {
    width: 128px;
    height: 128px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #fff;

    & .icon {
      height: 100px !important;
    }
  }

  &__info {
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: max-content;
    align-items: center;
    gap: 20px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-width: 350px;
    margin-top: 10%;
    padding: 25px;
    background-color: $bg-color-main;
    border: 1px solid $bg-color-controllers;
    border-radius: 4px;
  }

  &__input {
    display: grid;
    width: 100%;
    margin-bottom: 20px;

    & label {
      margin: 5px;
    }

    & input {
      padding: 15px;
      border: 1px solid $bg-color-controllers;
      border-radius: 4px;
      width: 100%;
    }

    &--flex {
      display: flex;
    }
  }

  &__action {
    margin-top: 30px;
    width: 200px;
    padding: 15px;
    background-color: $accent-color;
    color: $text-color-accent-btn;
    border-radius: 4px;

    &:hover {
      background-color: $accent-color-hov;
    }
  }
}

.ReactFlagsSelect-module_selectOptions__3LNBJ.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
  background-color: $bg-color-products;
  color: $text-color-main;
  border: 1px solid $separator-color;
}

.ReactFlagsSelect-module_selectOption__3pcgW.ReactFlagsSelect-module_selectOptionWithlabel__2GpmM:hover {
  background-color: $accent-color;
  color: $text-color-accent-btn;
}

.profile__input input {
  font-size: 1em;
}

.profile__action {
  font-size: 1em;
}
