.gadgets-display-control {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  color: $text-color-secondary;
  font-size: 12px;

  @include onTablet {
    flex-wrap: nowrap;
  }
}

.css-53tbrc-MuiSlider-root {
  width: 50% !important;
  color: $accent-color !important;
  outline: none;
}

.css-1623zc {
  width: 50% !important;
  color: $accent-color !important;
  outline: none;
}

.css-lbpym0-MuiSlider-root {
  width: 50% !important;
  color: $accent-color !important;
  outline: none;
}

.filterPrice {
  position: relative;
  align-items: center;
  width: 288px;
  height: 40px;
  padding: 5px;
  background-color: $bg-color-products;
  border: 1px solid $bg-color-controllers;

  @include onTablet {
    width: 260px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $text-color-main;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

  &__value {
    width: 20%;
    text-align: center;
  }
}
