.burger {
  width: 100%;
  height: 100vh;
  margin-top: -250vh;
  padding: 30%;
  background-color: $bg-color-main;
  transition-property: margin, padding;
  transition-duration: $transition-duration*3;

  & .nav__list {
    margin-top: 50%;
    transform: translateY(-70%);
  }

  &--active {
    position: absolute;
    display: grid;
    z-index: 999;
    margin-top: 0;
    padding: 10% 10% 20%;
  }

  @include onDesktop {
    display: none;
  }

  & * .MuiOutlinedInput-root {
    background-color: $bg-color-products;
    color: $text-color-main;
  }

  & * .searching-block {
    border-radius: 4px;
  }
}

// landscape version
@media (orientation: landscape) {
  .burger {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .nav__list {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-left: 10px;

    & .nav__item {
      justify-content: left;
    }
  }

  .searching-field {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .icon-set {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    padding-right: 20px;
  }
}

.MuiAutocomplete-listbox {
  background-color: $bg-color-products;
  color: $text-color-main;
  height: 100vh;
}

.MuiAutocomplete-option {
  padding: 4px 0;
  border-bottom: 1px solid $separator-color;
  transition: color $transition-duration;

  &:hover {
    color: $accent-color-hov;
  }
}

// dropbox in filters
.MuiPaper-root.MuiMenu-paper {
  border-radius: 0 0 4px 4px;
  border: 1px solid $separator-color;
}

// selected item in dropbox
.Mui-selected {
  background-color: $accent-color-hov !important;
}

.MuiStack-root {
  width: 100%;
}
