.product-card {
  &__container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 272px;
    background-color: $bg-color-products;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: box-shadow $transition-duration ease;

    &:hover {
      box-shadow: inset 0 0 10px 1px $accent-color;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__item-description {
    padding: 0 32px 32px;
  }

  &__photo-container {
    display: flex;
    width: 100%;
    height: 196px;
    margin-bottom: 24px;
    transition: transform $transition-duration;
  }

  &__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 32px 32px 0;

    &:hover .product-card__photo-container {
      transform: scale(1.03);
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }

  &__device-link {
    padding-top: 16px;
  }

  &__title {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    min-height: 42px;
  }

  &__price {
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: $text-color-main;

    &_not-actual {
      color: $text-color-secondary;
    }
  }

  &__separator {
    margin-bottom: 16px;
  }

  &__parameters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-around;
    grid-gap: 8px;
    margin-bottom: 16px;
  }

  &__footer {
    display: flex;
  }

  &__like {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      transition: background-color 0.3s ease;
    }
  }
}

.parameters {
  &__description {
    margin-top: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__description_key {
    color: $text-color-secondary;
  }

  &__description_value {
    text-align: right;
    color: $text-color-main;
  }
}
