* {
  margin: 0;
  /*should be delet*/
  padding: 0;
  /*should be delet*/
  box-sizing: border-box;
  /*should be delet*/
}

.product-card {
  &__container {
    padding: 32px;
    max-width: 272px;
    background: #161827;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    /*should be delet*/
    cursor: pointer;
  }

  &__image {
    max-width: 208px;

    @media (max-width: 1200px) {
      max-width: 237px;
    }

    @media (max-width: 640px) {
      max-width: 212px;
    }
  }

  &__device-link {
    padding-top: 16px;
    cursor: pointer;
  }

  &__item-deskription {
    margin-top: 8px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #f1f2f9;
    /*should be variable*/
  }

  &__price {
    margin-top: 8px;
    margin-right: 8px;
    display: inline-block;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: #f1f2f9;
    /*should be variable*/
  }

  &__price_not-actual {
    color: #75767f;
  }

  &__separator {
    margin-top: 8px;
    max-width: 208px;
    border: 1px solid #3b3e4a;
  }

  &__parameters {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__footer {
    margin-top: 8px;
    display: flex;
  }

  &__button {
    text-decoration: none;
    cursor: pointer;
    width: 160px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #905bff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #f1f2f9;
    /*should be variable*/
    margin-right: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #a378ff;
      transition: background-color 0.3s ease;
    }

    &:active {
      background-color: #323542;
    }
  }

  &__like {
    text-decoration: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #f1f2f9;
    /*should be deleted*/
    background: #323542;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #4a4d58;
      transition: background-color 0.3s ease;
    }

    &:active {
      background-color: #323542;
    }

  }
}

.parametrs {
  &__description {
    margin-top: 8px;
  }

  &__description_key {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #75767f;
  }

  &__description_value {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #f1f2f9;
  }
}