.icon-bar {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;

  &__item {
    border-left: 0.5px solid $separator-color;
  }

  &__link {
    position: relative;
    display: flex;
    padding: 16px;

    @include onTablet {
      padding: 24px;
    }

    &--active {
      &::after {
        position: absolute;
        left: 0;
        bottom: -2px;
        content: "";
        height: 3px;
        border-radius: 4px;

        animation: underline $transition-duration ease forwards;
      }
    }
  }
}
