.profile-page {
  display: flex;
  height: 100vh;

  &__navigation {
    width: 20%;
    min-width: 250px;
    background-color: $bg-color-main;
    color: $text-color-main;
  }

  &__content {
    width: auto;
    flex-grow: 1;
    background-color: $bg-color-controllers;
  }
}
