@use "sass:math";

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

// navigation
@mixin underlineActive {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    background-color: $nav-color-line;
    border-radius: 4px;
    box-shadow: $neon;
    animation: slide-in-right $transition-duration ease forwards;
  }
}

@mixin pageGrid {
  $columns: 4;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat($columns, 1fr);

  @include onTablet {
    $columns: 12;
    grid-template-columns: repeat($columns, 1fr);
  }

  @include onDesktop() {
    $columns: 24;
    grid-template-columns: repeat($columns, 1fr);
  }

}

@mixin arrowsForMainSlider {
  position: absolute;
  top: 0;
  display: none;
  width: 32px;
  height: 100%;
  background-color: $bg-color-controllers;
  border: 1px solid $bg-color-controllers;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-controllers-hov;
  }

  @include onDesktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin av($key, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize +$addSize * 0.7;

  @media (max-width: 640px) {
    #{$key}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 640px) {
    #{$key}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
