@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

// navigation
@mixin underlineActive {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    background-color: $text-color-main;
    border-radius: 4px;
    animation: slide-in-right $transition-duration ease forwards;
  }
}
