* {
  box-sizing: border-box;
}

html {
  font-family: "Mont", sans-serif;
}

body {
  min-height: 100vh;
  min-width: fit-content;
  background-color: $bg-color-main;
  color: $text-color-main;
}

.scrolling-blocked {
  overflow: hidden;
}

h3 {
  color: $text-color-main;
}

svg {
  fill: $text-color-main;
}

button,
a {
  cursor: pointer;
}

button,
a,
body,
div {
  transition-property: background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: ease;
}

a {
  color: $text-color-secondary;

  &:hover {
    color: $text-color-main;
  }
}

input {
  color: $text-color-main;

  &::placeholder {
    color: $text-color-secondary;
  }
}
