* {
  box-sizing: border-box;
}

html {
  font-family: "Mont", sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  min-width: fit-content;
  background-color: $bg-color-main;
  color: $text-color-main;
  overflow-x: hidden;
}

* ::selection {
  background-color: $text-selection;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button,
a,
body {
  transition-property: background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: ease;
}

h3 {
  color: $text-color-main;
}

svg {
  fill: $text-color-main;
}

button,
a {
  cursor: pointer;
}

a {
  color: $text-color-secondary;

  &:hover {
    color: $text-color-main;
  }
}

input {
  color: $text-color-main;

  &::placeholder {
    color: $text-color-secondary;
  }
}

hr {
  border-color: $separator-color;
}
