html,
body,
ul,
h1,
h2,
h3,
p,
span,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  background: none;
  outline: none;
}

figure {
  margin: 0;
}
