.scrolling-blocked {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  border-left: 1px solid $separator-color;
}

::-webkit-scrollbar-thumb {
  background-color: $text-selection;
  border-radius: 4px;
}

::-moz-scrollbar {
  width: 5px;
  border-left: 1px solid $separator-color;
}

::-moz-scrollbar-thumb {
  background-color: $text-selection;
  border-radius: 4px;
}
