:root,
[data-theme='dark'] {
  --accent-color: #905bff;
  --accent-color-hov: #a378ff;
  --selected-color: #eb5757;

  --bg-color-main: #0f1121;
  --bg-color-products: #161827;
  --bg-color-controllers: #323542;
  --bg-color-controllers-hov: #444958;

  --separator-color: #3b3e4a;

  --text-color-main: #f1f2f9;
  --text-color-secondary: #75767f;
}


[data-theme='light'] {
  --accent-color: #905bff;
  --accent-color-hov: #a378ff;
  --selected-color: #eb5757;

  --bg-color-main: #f1f2f9;
  --bg-color-products: #dee3f8;
  --bg-color-controllers: #cfd5ec;
  --bg-color-controllers-hov: #dcdfeb;

  --separator-color: #3b3e4a;

  --text-color-main: #0f1121;
  --text-color-secondary: #75767f;
}
