:root,
[data-theme="dark"] {
  --accent-color: #905bff;
  --accent-color-hov: #a378ff;
  --neon: 0 0 10px #905bff,
    0 0 20px #905bff,
    0 0 30px #905bff,
    0 0 40px #905bff;
  --selected-color: #eb5757;
  --nav-color-line: #f1f2f9;

  --bg-color-main: #0f1121;
  --bg-color-products: #161827;
  --bg-color-controllers: #323542;
  --bg-color-controllers-hov: #444958;

  --separator-color: #3b3e4a;

  --text-color-main: #f1f2f9;
  --text-color-secondary: #75767f;
  --text-color-accent-btn: #f1f2f9;
  --text-selection: rgba(75, 0, 130, 0.5);
}

[data-theme="light"] {
  --accent-color: #f86800;
  --accent-color-hov: #f98837;
  --neon: 0 0 20px #f86800,
    0 0 40px #f86800,
    0 0 60px #f86800,
    0 0 80px #f86800;
  --selected-color: #476df4;
  --nav-color-line: var(--accent-color);

  --bg-color-main: #fafbfc;
  --bg-color-products: #fff;
  --bg-color-controllers: #e9ecee;
  --bg-color-controllers-hov: #f1f5f8;

  --separator-color: #e2e6e9;

  --text-color-main: #0f0f11;
  --text-color-secondary: #89939a;
  --text-color-accent-btn: #f1f2f9;
  --text-selection: rgba(249, 136, 55, 0.4);
}
