// colors
$accent-color: var(--accent-color);
$accent-color-hov: var(--accent-color-hov);
$neon: var(--neon);
$selected-color: var(--selected-color);
$nav-color-line: var(--nav-color-line);

$bg-color-main: var(--bg-color-main);
$bg-color-products: var(--bg-color-products);
$bg-color-controllers: var(--bg-color-controllers);
$bg-color-controllers-hov: var(--bg-color-controllers-hov);

$separator-color: var(--separator-color);

$text-color-main: var(--text-color-main);
$text-color-secondary: var(--text-color-secondary);
$text-color-accent-btn: var(--text-color-accent-btn);
$text-selection: var(--text-selection);

// animation
$transition-duration: 0.3s;

$maxWidth: 1200;
