$theme-color-dark: #0f1121;
$theme-color-light: #f1f2f9;

$accent-color: #905bff;
$accent-color-hov: #a378ff;
$selected-color: #eb5757;

$text-color-secondary: #75767f;

$bg-products: #161827; // use for product card & cart items
$bg-controllers: #323542; // ?? use for controllers & like button & selected items? 
$bg-controllers-hov: #4a4d58;
$separator-color: #3b3e4a;

$transition-duration: 1s;