.main-accessories {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_position {
    margin-top: 100px;
  }

  &__icon {
    height: 96px;
    width: 96px;
    color: $accent-color;
    margin-bottom: 32px;
  }

  &__title-sorry {
    font-style: normal;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
  }

 
  &__sorry {
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    font-weight: 800;
    background: linear-gradient(90deg, rgba(144, 91, 255, 1) 4%, rgba(248, 104, 0, 1) 59%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
