.footer {
  position: sticky;
  z-index: 0;
  bottom: 0;
  width: 100%;
  // max-height: fit-content;
  background-color: $bg-color-main;
  border-top: 1px solid $separator-color;

  &__navigation {
    @include onTablet {
      display: flex;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 20px;

    @include onTablet {
      padding: 0 10px;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__logo {
    padding: 32px 0;
    position: relative;
  }

  &__nav-list {
    margin: 0 16px 32px;

    @include onTablet {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row;
      gap: 16px;
      margin: 0;
    }

    @include onDesktop {
      gap: 104px;
    }
  }

  &__nav-item {
    margin-bottom: 16px;

    @include onTablet {
      margin: 0;
    }
  }

  &__nav-link {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &:hover {
      padding-bottom: 8px;
      border-bottom: 2px solid $text-color-main;
    }
  }

  &__arrow-up {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    color: $text-color-secondary;

    @include onTablet {
      margin-bottom: 0;
      justify-content: flex-end;
    }

    &:hover {
      color: $text-color-main;

      & button {
        background-color: $accent-color-hov;
      }

      & svg {
        fill: $text-color-accent-btn;
      }
    }
  }
}
