@import "src/styles/utils/vars";

.footer {
  width: 100%;
  border-top: 1px solid $separator-color;
  transition: background-color $footer-transition-duration,
    border $footer-transition-duration;

  &__navigation {
    @include onTablet {
      display: flex;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 20px;

    @include onTablet {
      padding: 0 10px;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__logo {
    position: relative;

    @include onTablet {
      margin: 32px 0 32px 24px;
    }

    @include onDesktop {
      margin: 32px 0 32px 32px;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0 16px 32px;
    padding: 0;

    @include onTablet {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row;
      gap: 16px;
      margin: 0;
    }

    @include onDesktop {
      gap: 104px;
    }
  }

  &__nav-item {
    margin-bottom: 16px;

    @include onTablet {
      margin: 0;
    }
  }

  &__nav-link {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $theme-color-light;
    transition: padding $footer-transition-duration ease;

    &:hover {
      border-bottom: 2px solid $theme-color-light;
      padding-bottom: 8px;
    }
  }

  &__arrow-up {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    color: $text-color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    transition: color $footer-transition-duration ease;

    &:hover {
      color: $theme-color-light;
    }

    @include onTablet {
      margin-bottom: 0;
      justify-content: flex-end;
    }
  }
}
