.icon {
  display: block;
  height: 16px;
  transition: fill $transition-duration;

  @include onDesktop {
    height: 18px;
  }

  &--secondary {
    fill: $text-color-secondary;
  }

  &--selected {
    fill: $selected-color;
  }
}
