.home-page {
  &__title {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__banner {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 90px;
    }
  }

  &__section:not(:last-child) {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }
}

// need to move this to utils
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}
