.home-page {

  &__title {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__banner {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 90px;
    }
  }

  &__section:not(:last-child) {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }
}
