.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 400px;

  @include onDesktop {
    padding: 0 50px;
  }
}

.swiper-container {
  overflow: auto;
}

.swiper-slide {
  width: 100% !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button-prev {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20000;
  width: 32px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0;
  background-color: $bg-color-controllers;

  @include onDesktop {
    display: flex;
  }
}

.button-next {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-controllers;
  cursor: pointer;
  z-index: 20000;
  width: 32px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;


  @include onDesktop {
    display: flex;
  }
}
